# Entornos y caché
__pycache__/
.venv/
*.pyc

# Base de datos local
*.db

# Variables de entorno (credenciales)
.env

# IDEs
.vscode/
.idea/

# Archivos del proyecto no necesarios en el repo
README.md
*.pdf
